.container{
    height: 400px;
    width: 500px;
    background-color: rgb(1, 255, 170);
    border: 2px solid red;
}
.child1,.child2,.child3{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
    background-color: blueviolet;
    margin: 3%;
}

.child2
{
    background-color: brown;
}

.child3
{
    background-color: aquamarine;
}